@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.qualifio.com/fontawesome/css/_qualifio.min.css");

html.login-pf,
.login-pf body {
  height: 100%;
  background-image: none;
  background-color: #12384a;
  color: #ffffff;
  font: 14px "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-pf-page * {
  outline: none;
}

.login-pf-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login__content {
  margin: auto;
  max-width: 610px;
}

.login__footer {
  margin: auto auto 25px auto;
}

.login-pf-page .login-pf-page-header .kc-logo-text {
  background-image: url(../img/logo-qualifio-white.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80px;
  margin: 0 auto;
  width: 85%;
  max-width: 225px;
  min-width: 225px;
  margin-top: 50px;
  font-size: 0px;
}

.card-pf {
  margin: 0 auto;
  box-shadow: none;
  padding: 40px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.wrapper__login__sso {
  margin: auto 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

h1:after {
  display: block;
  content: "";
  width: 40px;
  height: 2px;
  background: #fba026;
  margin: 15px auto;
}

input,
input:focus {
  outline: none;
}

.login-pf-page .card-pf {
  padding: 0px !important;
}

.login-pf-page .card-pf p {
  color: #ffffff;
}

a,
a:focus,
a:hover {
  color: #61c1db;
}

.form-group {
  text-align: left;
}

.pf-c-form-control,
.login-pf-page .form-control,
.pf-c-form-control:not(textarea) {
  -webkit-appearance: none;
  background-color: transparent;
  border: none !important;
  padding: 15px !important;
  font-size: 15px;
  width: 100%;
  color: #666666;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  height: auto;
  box-shadow: none;
  line-height: inherit;
}

.pf-c-form-control:focus,
.login-pf-page .form-control:focus,
.pf-c-form-control.pf-m-focus {
  outline: none;
  border-color: #e8e8e8;
  padding: 15px;
}

.pf-c-form__helper-text.pf-m-error {
  font-size: 12px;
}

.pf-c-form-control[aria-invalid="true"] {
  background-position-y: center;
}

.pf-c-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
  padding: 16px;
  word-break: break-word;
  white-space: normal;
  cursor: pointer;
}

.pf-m-primary,
.pf-c-button.pf-m-primary {
  background-color: #fba026;
  color: #ffffff;
}

.pf-m-primary:hover,
.pf-c-button.pf-m-primary:hover {
  background-color: #ee9319;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
  width: 100%;
  float: inherit;
}

ol,
ul {
  text-align: left;
}

.subtitle {
  position: absolute;
  bottom: 15px;
  left: 19%;
}

.form-horizontal .control-label {
  margin-bottom: 5px;
}

#saveTOTPBtn {
  margin-top: 20px;
}

.alert {
  border-width: 2px;
  border-radius: 5px;
  padding: 0;
  display: flex;
  align-items: stretch;
  text-align: left;
  background: #ffffff;
  color: #666666;
}

.alert > span {
  padding: 10px;
  width: auto;
  display: flex;
  align-items: center;
}

.alert .fa:before {
  font-size: 16px;
}

.alert.alert-error {
  background: #fff6e6;
  border-color: #fba026;
}

.alert.alert-error .fa {
  background: #fba026;
  color: #fff6e6;
}

.fa-exclamation-circle:before {
  content: "\f071";
}

.alert.alert-warning {
  background: #f8feff;
  border-color: #61c1db;
}

.alert.alert-warning .fa {
  background: #61c1db;
  color: #dff5fb;
}

.fa-exclamation-triangle:before {
  content: "\f05a";
}

.wrapper__login__form__lang select {
  text-align: right;
  text-transform: uppercase;
}

.login-pf-page .wrapper__login__form__lang:after {
  z-index: 0;
  font-size: 18px;
  pointer-events: none;
  top: 0;
}

p.wrapper__login__sso__choice__txt {
  color: #557685 !important;
  pointer-events: none;
}

input[type="text"], .btn-lg {
  max-width: 270px;
  margin: auto;
  display: block;
}

#kc-form-wrapper {
  width: 270px;
}

@media only screen and (max-width: 809px) {
  #kc-form {
    flex-direction: column;
  }
  .wrapper__login__choice {
    margin: 50px auto 20px;
  }

  .wrapper__login__choice:before, .wrapper__login__choice:after {
    height: 1px;
    width: 70px;
    top: 9px;
  }

  .wrapper__login__choice:before {
    left: 10px;
  }

  .wrapper__login__choice:after {
    right: 10px;
  }

}